
.page{
  background-color: #AE4F4D;
  position: absolute;
  width: 100%;
  height: 100%;
}

.texto, .h2{
  text-align: left;
  position: absolute;
  left: 45%;
  top: 10%;
  font-size: 25px;
  color: #F0E8D2;
}

.Form-Container{
  display: flex;
  padding:0px;
  position: center;
  width: 30vw;
  height: 49vw;
  left: 2%;
  top: 2%;
  position: absolute;
  background: #749857;
  border-radius: 45px;
}

.ball{
  width: 10vw;
  height: 10vw;
  background-color: #F2E8CF;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .image {
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 20%;
  }
}

.Register-form{
  display: flex;
  flex-direction: column;
  margin:auto;
  align-items: left;
  justify-content: center;
  gap: 20px;
}

.input{
  display: flex;
  position: relative;
  top: 3vw;
  align-items: center;
  margin: auto;
  width: 20vw;
  height: 3vw;
  background: #F2E8CF;
  border-radius: 45px;
}

.input input{
  position: relative;
  width: 20vw;
  height: 3vw;
  background: transparent;
  border:none;
  outline: none;
  font-size: 19px;
}

.linkCadastro{
  position: relative;
  border: none;
  background: transparent;
  top: 2vw;
  font-size: 15px;
  cursor: pointer;
  list-style: none;
  color: #F2E8CF;
  text-decoration: none;
  margin-top:2%;
  margin-bottom: 2%;
  text-align: center;
}


h1{
  position: relative;
  top: 4%;
  text-align: center;
  font-size: 25px;
}



.botao-submit{
  display: flex;
  flex-direction: column;
  margin:auto;
  align-items: left;
  justify-content: center;
  text-align: center;
  border:none;
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  width: 20vw;
  height: 3vw;
  left: 15%;
  top: 85%;
  background: #A7C957; 
  border-radius: 45px;

}

.checkbox-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-text {
  margin-left: 30px;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #AE4F4D /* Altere a cor quando a checkbox estiver marcada */
}

.botao-submit:hover{
  color: #F0E8D2;
  cursor: pointer;
}
