/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #AE4F4D;
    color: white;
  }

.logo{
  width: 20%;
}
  
.search-bar{
  background-color: #6a994e;
  color: #f2e8cf;
  border: none;
  border-radius: 20px;
  padding: 1%;
  outline: none;
  width: 25%;
}

.login-btn{
  border: none;
  border-radius: 20px;
  background-color: #a7c957;
  padding: 1%;
  width: 7%;
}

.linkHeader{
  text-decoration: none;
  list-style: none;
  color: #F2E8CF;
  font-size: 15px;
}

.slamon-btn{
  color: #F2E8CF;
  cursor: pointer;
}